:root {
    --dark-color: #1F2937;
    --button-color: #3882F6;
    --light-gray: #E5E7EB;
    --logo-color:#F9FAF8;
    --placeholder-color:#6D757E;
}



@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.top {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-block:20px;
    width:70%;
    color: var(--light-gray);
}

.header-logo {
    font-size:24px;
    font-weight: 900;
    color: var(--logo-color);
}

.header-content {
    display:flex;
    align-items: center;
    width:70%;
    padding-block: 100px;
    gap:20px;
}

.title {
    font-size:48px;
    color:var(--logo-color);
    font-weight: 900;
}

.description {
    color:var(--light-gray);
    font-size:18px;
}

.header-button {
    margin-top: 8px;
    border:none;
    border-radius: 5px;
    padding:7px 30px;
    font-weight: 600;
    background-color: var(--button-color);
    color:var(--logo-color);
    font-size:16px;
    font-family: "Roboto";
}

.placeholder {
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:250px;
    background-color: var(--placeholder-color);
    color:white;

}

ul {
    list-style:none;
}

.navigation-list {
    display:flex;
    gap:20px;
}

a {
    color:inherit;
    text-decoration: none;
}